*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
header{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 150px;
    font-family: "Overpass", sans-serif;
    font-style: normal;
    color: #214712;
    transition: transform .5s linear;
}
h1:hover{
    transform: scale(1.2);
    color: #48ff00;
}
h2{
    color: #3d3c3c;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 80px;
    font-style: oblique;
    margin: 10px 10px 10px;
    transition: transform .4s linear;
}
h2:hover{
    transform: scale(1.1);
    color: #FFF;
}
.gallery-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.itens-galeria{
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
.itens-galeria img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.itens-galeria:hover{
    transform: scale(1.1);
}
.videos-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.videos-galeria{
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
