*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
header{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 150px;
    font-family: "Overpass", sans-serif;
    font-style: normal;
    color: #214712;
    transition: transform .5s linear;
}
h1:hover{
    transform: scale(1.2);
    color: #48ff00;
}
.gallery-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;;
}
.itens-galeria{
    width: 640px;
    height: 640px;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
.itens-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itens-galeria:hover{
    transform: scale(1.1);
}